.navbar {
  display: grid;
  grid-template-columns: 40% 50% 10%;
  align-items: center;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 0.5%;
  transition: background-color 1000ms linear;
  transition: box-shadow 300ms linear;
  background-color: "transparent";
}
.nav-scrolled {
  background-color: white;
  box-shadow: 0 2px 2px lightgray;
}
.contact-icons-navbar div {
  cursor: pointer;
}
body {
  overflow-x: hidden;
}
.navbar h1 {
  font-family: "flink-bold", sans-serif;
  margin: auto;
  font-size: 1.5em;
}
.navbar-btns,
.navbar-btns-menu {
  display: flex;
  column-gap: 5%;
  font-family: "Calvin-Regular", sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  color: #141c2d;
  font-size: 0.95em;
}
.contact-icons-navbar div img {
  width: 15px;
  margin: auto;
}
.contact-me-btn {
  background-color: transparent;
  width: fit-content;
  padding: 0;
}
.contact-me-btn svg {
  border: 1px solid lightgray;
  padding: 10%;
  border-radius: 50%;
}
.contact-icons-navbar,
.contact-icons-contact-me {
  display: flex;
  column-gap: 5%;
}
.contact-icons-contact-me:hover {
  cursor: pointer;
}
.contact-icons-navbar div,
.contact-icons-contact-me div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.tooltip {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  width: 120px;
  position: absolute;
  margin-top: -5%;
  font-size: 0.8em;
}
.contact-icons-navbar div {
  width: 40px;
  height: 40px;
}
.contact-icons-contact-me div {
  padding: 0;
}
.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 13%;
  text-align: center;
  gap: 5%;
}
.intro-section h1 {
  font-family: "tt-common-bold", sans-serif;
  font-size: 2.5em;
  color: #141c38;
  margin: 1%;
}
.gradient {
  background: linear-gradient(#fffcf4, #ffe1b3);
}
.intro-section a,
.projects-section button {
  width: 10%;
  margin: auto;
  background-color: #f0a418;
  border: 0;
  border-radius: 10px;
  padding: 1% 0;
  color: white;
  font-weight: bold;
  z-index: 999;
}
.intro-section a {
  width: unset;
  padding: 12px 16px;
  font-family: sans-serif;
  font-size: medium;
  font-weight: 500;
}
.intro-section a:hover,
.projects-section button:hover {
  background-color: darkorange;
  color: white;
}
.intro-section p {
  text-align: justify;
  width: 50%;
  margin: auto;
  color: #8fa4b8;
  font-size: 1.1em;
  font-family: sans-serif;
  margin-bottom: 3%;
}
.intro-section h3 {
  color: #141c38;
  font-family: sans-serif;
}
.home-page {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
.semi-circle-intro {
  width: 500px;
  height: 250px;
  margin: auto;
  margin-top: 5%;
  border-radius: 300px 300px 0 0;
  background-color: #f0a418;
  margin-top: 15%;
}
.semi-circle-intro img {
  margin-top: -48.5%;
  scale: 100%;
}
.about-me-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}
.about-me-details h3 {
  font-family: sans-serif;
  font-size: 1.75em;
  color: #141c38;
  text-align: center;
}
p {
  font-family: sans-serif;
  color: #8fa4b8;
  line-height: 25px;
}
.experience-div h3 {
  font-family: sans-serif;
  margin:2% 0
}
.experience-div p{
  margin:10px 0
}
.about-me {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-details button {
  background-color: #fcf4e3;
  color: #f0a418;
  width: 15%;
  border: 0;
  border-radius: 5px;
  padding: 1% 0;
  font-weight: 500;
  font-size: medium;
  letter-spacing: 1px;
  margin: auto;
  font-family: sans-serif;
}
.about-me-details button:hover {
  background-color: #f0a418;
  color: white;
  transition: background-color 500ms linear;
}

.skill-card {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 1%;
  width: 18%;
  height: fit-content;
  display: grid;
  grid-template-columns: 30% 1fr;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.skill-card p {
  margin: 0;
}
.skill-card-logo {
  border-radius: 10px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #fcf4e3;
}
.skill-card:hover .skill-card-logo {
  background-color: #f0a418;
  transition: background-color 500ms linear;
}
@keyframes icon-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes icon-flip {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(-1);
  }
}
.react-icon svg {
  animation: icon-rotation 5000ms linear infinite;
}
.angular-icon svg {
  animation: icon-flip 2000ms linear infinite;
}
.skill-card:hover .skill-card-logo svg * {
  fill: white;
}

.skill-card-logo div {
  transform: rotate(-45deg);
}
.skills-div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  justify-content: center;
  column-gap: 2%;
  row-gap: 20px;
}
.skills-section {
  display: flex;
  padding-top: 70px;

  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
}
h1 {
  font-family: sans-serif;
  font-size: 1.75em;
  color: #141c38;
}
p {
  font-family: sans-serif;
}
.experience-div {
  display: grid;
  grid-template-columns: 1fr 5% 1fr;
  height: 180px;
  width: 80%;
  margin: auto;
}

.company img {
  border-radius: 50%;
  width: 50px;
}
.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.vertical-line {
  border-right: 4px dashed lightgray;
  height: 100%;
  border-left: 0;
}
.outer-circle {
  width: 20px;
  height: 25px;
  border: 2px dashed lightgray;
  border-radius: 50%;
  background-color: white;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-circle {
  width: 10px;
  height: 10px;
  border: 0;
  border-radius: 50%;
  background-color: #f0a418;
  z-index: 1;
}
.nav-btns-list {
  display: none;
}
.experiences {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5% auto auto auto;
  background-color: #f9fafb;
  width: 100%;
  padding: 80px 0 8% 0;
  row-gap: 30px;
}
.experiences h1 {
  margin: auto;
}
.experiences-div {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}
.project-card {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1%;
  border-radius: 20px;
}
.about-me-details p {
  text-align: center;
}

.project-card h2 {
  font-family: sans-serif;
}
.project-card:hover .project-open-icon-svg {
  fill: #f0a418;
}
.project-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  border-radius: 20px;
  height: 200px;
  width: 100%;
}
.projects::after {
  content: "";
  width: 34%;
}

.project-card:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px lightgray;
}
.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
  row-gap: 40px;
}
a {
  text-decoration: none;
  color: #141c2d;
}
h4 {
  margin: 0;
}
.upward-arrow {
  background-color: #f0a418;
  padding: 5px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: fixed;
  bottom: 4%;
  right: 3%;
  /* transition: background-color 10000ms linear; */
}
.upward-arrow:hover {
  cursor: pointer;
}
a:hover {
  color: #f0a418;
}
.projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8%;
  row-gap: 15px;
}
.contact-icons {
  display: flex;
}
.contact-me {
  width: 100%;
  padding: 1% 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10%;
  background-color: #162132;
  color: white;

  font-family: sans-serif;
}
.contact-btn-navbar {
  background-color: #f9fafb;
  border: 1px solid lightgray;
}
.nav-scrolled .contact-btn-navbar {
  background-color: #f0a418;
  transition: background-color 300ms linear;
}
.contact-icons-navbar .menu-icon {
  display: none;
}
.contact-btn-navbar svg {
  fill: darkgray;
}
.nav-scrolled .contact-btn-navbar svg {
  fill: white;
}
@media screen and (max-width: 768px) {
  .navbar {
    height: 50px;
    padding-left: 10%;
    gap: 15%;
    width: 89vw;
    background-color: white;
    box-shadow: 0 2px 2px lightgray;
  }
  .contact-btn-navbar svg {
    fill: white;
  }
  .about-me-details button {
    width: 40%;
    padding: 4% 0;
  }
  .about-me-details {
    display: block;
    width: 80%;
    padding: auto 5%;
  }
  .about-me-details p {
    text-align: left;
  }
  .about-me-details h3 {
    text-align: left;
  }
  .skills-div {
    flex-direction: column;
    justify-content: center;
  }
  .skill-card {
    width: 90%;
    margin: auto;
    grid-template-columns: 15% 1fr;
    padding: 5%;
    gap: 5%;
  }
  .skills-section {
    display: block;

    width: 80%;
  }
  .experiences {
    display: block;
    padding: 50px 0;
  }
  .upward-arrow {
    display: none;
  }
  .experiences h1 {
    margin-left: 10%;
    margin-bottom: 5%;
  }
  .experience-div {
    grid-template-columns: 10% 1fr;
    height: 100%;
    width: 80%;
    gap: 5%;
  }
  .projects {
    margin-left: -5%;
    width: 100%;
    column-gap: 10%;
    flex-direction: column;
    row-gap: 0px;
  }
  .projects-section {
    row-gap: 10px;
    padding: 40px 0;
    display: block;
    margin: auto;
    width: 80%;
  }

  .project-card {
    width: 100%;
    padding: 5%;
  }
  .projects-section button {
    width: 40%;
    margin-top: 15%;
    padding: 4% 0;

    color: white;
    font-weight: bold;
  }
  .contact-me {
    width: 90vw;
    padding: 1% 5%;

    column-gap: 20%;
  }
  .contact-me h2 {
    font-size: 1.25em;
  }
  h1 {
    font-size: 1.5em;
  }
  .intro-section {
    padding-top: 5%;
    width: 100vw;
  }

  .semi-circle-intro {
    width: 300px;
    height: 150px;
    margin-top: 250px;
  }
  .semi-circle-intro img {
    margin-top: -114.5%;

    margin-left: -13.5%;
  }
  .intro-section p {
    width: 90%;
  }
  .contact-icons-contact-me {
    column-gap: 10%;
  }
  h1 {
    font-size: 1.75em;
  }
  .experience-div p {
    font-size: 0.9em;
  }
  .navbar h1 {
    font-size: 1.25em;
  }
  .intro-section h1 {
    font-family: "tt-common-bold", sans-serif;
    font-size: 2em;
    color: #141c38;
  }
  .intro-section p {
    font-size: 1em;
    text-align: center;
  }
  .project-card h2 {
    font-size: 1.25em;
  }
  .navbar-btns {
    display: none;
  }

  .contact-icons-navbar .menu-icon {
    display: flex;
  }
  .nav-btns-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    /* margin-left: 12%; */
    background-color: white;
    width: 100vw;
    position: fixed;
    top: 55px;
    z-index: 1000;
    gap: 10px;
    box-shadow: 0px 2px 2px lightgray;
    padding: 15px 25px;
  }
  .contact-btn-navbar {
    background-color: #f0a418;
  }
  .intro-section a {
    padding: 8px 16px;
    font-size: 0.9em;
    margin-top: 5%;
  }
}
