html {
  scroll-padding-top: 70px;
}
body {
  overflow-x: hidden;
}
.gradient {
  background: linear-gradient(#fffcf4, #ffe1b3);
  max-width: unset;
  width: 100%;
}
.projects-section button {
  width: 10%;
  margin: auto;
  background-color: #f0a418;
  border: 0;
  border-radius: 10px;
  padding: 12px 0;
  color: white;
  font-weight: bold;
  z-index: 999;
}
.projects-section button:hover {
  opacity: 80%;
  color: white;
}
.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  font-family: sans-serif;
  color: #8fa4b8;
  line-height: 25px;
}
.skills-div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  justify-content: center;
  column-gap: 24px;
  row-gap: 20px;
}
.skills-section {
  display: flex;
  padding-top: 70px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
}
h1,
h2 {
  font-family: sans-serif;
  font-size: 1.75em;
  color: #141c38;
}
.centered-container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.projects::after {
  content: "";
  width: 34%;
}
.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
  row-gap: 40px;
}
.projects-section h1{
  text-align: center;
}

a {
  text-decoration: none;
  color: #141c2d;
}
h4 {
  margin: 0;
}
.upward-arrow {
  background-color: #f0a418;
  padding: 5px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: fixed;
  bottom: 4%;
  right: 3%;
}
.upward-arrow:hover {
  cursor: pointer;
}
a:hover {
  color: #f0a418;
}
.projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 50px;
}
.contact-icons {
  display: flex;
}

@media screen and (max-width: 768px) {
  .skills-div {
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
  }
  .skills-section {
    display: block;
    width: 80%;
  }
  .upward-arrow {
    display: none;
  }
  .projects {
    margin-left: -20px;
    width: 100%;
    margin-top: 50px;
    column-gap: 24px;
    flex-direction: column;
    row-gap: 24px;
  }
  .projects-section {
    row-gap: 10px;
    padding: 40px 0;
    display: block;
    margin: auto;
    width: 80%;
  }
  .projects-section button {
    width: 40%;
    margin-top: 32px;
    padding: 12px 0;
    color: white;
    font-weight: bold;
  }
  h1 {
    font-size: 1.5em;
  }
  h1 {
    font-size: 1.75em;
  }
}
