body {
  scroll-behavior: smooth;
  margin: 0;
}
html,
body {
  overflow-x: hidden;
}
@font-face {
  font-family: "flinq-bold";
  src: url("assets/FlinkBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tt-common-bold";
  src: url("assets/TT Commons Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "paul-semi-bold";
  src: url("assets/Fontspring-DEMO-paulgrotesk-semibold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
button:hover {
  cursor: pointer;
}
